[submodule "components/stm32_imu"]
	path = components/stm32_imu
	url = git@github.com:thanhphong98/stm32_imu.git
[submodule "components/stm32_motor"]
	path = components/stm32_motor
	url = git@github.com:thanhphong98/stm32_motor.git
